* {
    transition: 400ms;
}

.container {
    display : flex;
    flex-direction: column; 
    width: 100%;
    box-shadow: 0 0 10px black ;
} 

header {
    display : flex;
    flex-direction: row;
    background-color: rgb(22, 7, 205 );
    height: 37px;
} 

header .menu button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    background-color: rgb(22, 7, 205 );
    color: white;
    border-left-width: 1px;
    border-top: 0px;
    border-bottom: 0px;
    border-right: 0px;
    border-color: white ;
    outline: none;
    width: 100%;
}

header .menu button:hover {
    background-color: rgb(42, 73, 250);
}

header .menu button:active {
    background-color: rgb(15, 4, 133);
    border : none;
    outline: none;
    transition: 0ms;
}

.logo{
    display: flex;
    background-color:rgb(22, 7, 205 );
    height: 100%;
    width: 25%;
    justify-content: center;
    align-items: center ;
}

.menu {
    display: flex;
    height: 100%;
    width: 75%;
    flex-direction: row;
    background-color: violet;
}
.conteudo { 
    display : flex;
    flex-direction: column  ;
    justify-content: center;
    align-items: center;
    background-color: white ;
    width: 100%;
}
.imagembg {
    display : flex;
    margin: none;
    width: 100%;
    justify-self: center;
    align-self: flex-start;
}

.imagemlogo 
{
    display : flex;
    margin: none;
    width: 50%;
}

.descricao { 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    text-align: justify;
    color: rgb(22, 7, 205 );
    margin-left: 10px;
    margin-right: 10px;
  }
.descricao + .descricao::before {
    content: ¶;
}

h1 { 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
    color: rgb(22, 7, 205 );
    font-size: 250%;   
    text-align: center;
  }

.botao {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    font-size: 18px;
    outline: none;
    width: 100%;
    height: 100%;
    text-decoration: none;
}
.rodape {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color:rgb(22, 7, 205 );
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: justify;
    line-height: 1px;
    width: 1150px;
    height: 160px;
}
.rodape h1 {
    color: white;
}